.swatch {
  display: flex;
  flex-direction: column;
  color: var(--gray1);
  background-color: white;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-property: color background-color;
  transition-delay: 200ms;
}

.input-swatch {
  justify-content: flex-start;
}

.swatch-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.match-swatch {
  justify-content: flex-end;
}

.swatch-text-label {
  text-transform: uppercase;
  font-weight: 700;
}
