:root {
  --gray1: #212529;
  --gray2: #343a40;
  --gray3: #495057;
  --gray4: #6c757d;
  --gray5: #adb5bd;
  --gray6: #ced4da;
  --gray7: #dee2e6;
  --gray8: #e9ecef;
  --gray9: #f8f9fa;

  --blue1: #03045e;
  --blue2: #023e8a;
  --blue3: #0077b6;
  --blue4: #0096c7;
  --blue5: #00b4d8;
  --blue6: #48cae4;
  --blue7: #90e0ef;
  --blue8: #ade8f4;
  --blue9: #caf0f8;

  --font-sans: "Open Sans", sans-serif;
  --font-mono: "Fira Mono", monospace;
}

.input-area {
  --label-padding: 0.5em;
}
